* {
  background-color: #f9f0f6;
  align-items: center;
  margin: 15px 10px 5px 5px;
  color: #a33b53;
}
h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: "Playfair display";
  font-size: 58px;
  color: #a33b53;
}
h3 {
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 32px;
}
img {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.gommage {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #a33b53;
}
button {
  color: #a33b53;
}
h4 {
  color: #a33b53;
}
button a {
  border: none;
  outline: none;
}
.btngomm {
  text-decoration: none;
  border: none;
}
