<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      href="/home/etapweb/Téléchargements/Rhibelya.png"
      type="image/png"/>
    <link rel="stylesheet" href="page_gommage.css" />
    
  </head>
  <body>
    <header>
        <h2>Gommage</h2>
      <div class="gommage">
      <div class="gomma">
        <img src="../assets/images/gomsecret.jpg"/>
        <button><a href="#">Gommage secret</a></button>
        <h4>22,90€</h4>
      </div>
      <div class="eclat">
        <img src="..//assets/images/gomeclat.jpg">  
        <button><a href="#">Gommage Eclat</a></button>
        <h4>21,90€</h4>
      </div>

      <div class="hibiscus">
        <img
          src="../assets/images/gommph.jpg">
        <button><a href="#">Perle d'hibiscus</a></button>
        <h4>23,90€</h4>
      </div>
    </header>

    
        
  </head>
</html>
